body {
    min-height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    color: #787A91;
}

h1, h2, h3, h4, h5, h6 {
    color: #28c4e4;
}

footer{
    margin-top: auto;
    background-color: #DFF6FF;
}

button{
    background-color: #28c4e4;
}

/*NAVBAR*/

.brand-name {
    color: #28c4e4;
}

.nav-item a:link{
    font-size:medium;
    font-weight: bolder;
    word-spacing: 2em;
    margin-left: 50px;
}

/*HOMEPAGE STYLING*/
.main-carousel{
    width: 88.5%;
    align-self: center;
    margin: auto;
    }


.home-jumbotron{
    background-color: #DFF6FF;
}
