body {
    min-height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    color: #787A91;
}

h1, h2, h3, h4, h5, h6 {
    color: #28c4e4;
}

footer .footer{
    margin-top: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #DFF6FF !important;
}

.button-custom{
    background-color: #28c4e4 !important;
    border: none !important;
}

.button-custom:hover{
    background-color: #28c4e4 !important;
    box-shadow: 0 5px 15px rgba(177, 222, 235, 0.4) !important;
}

/*NAVBAR*/

.brand-name {
    color: #28c4e4;
}

.nav-link{
    font-size:medium;
    font-weight: bolder;
    word-spacing: 2em;
    margin-left: 50px;
}
.nav-link:hover{
    color: #28c4e4 !important;
}

/*HOMEPAGE STYLING*/
.main-carousel{
    width: 88.5%;
    align-self: center;
    margin: auto;
    }


.home-jumbotron{
    background-color: #DFF6FF;
}

.custom-btn{
    background-color: #28c4e4 !important;
    border: none;
}

.custom-btn:hover{
    background-color: #28c4e4 !important;
    box-shadow: 0 5px 15px rgba(177, 222, 235, 0.4);
}

.home-testimonial{
    background-color: #231834;
    height: 380px;
    margin-bottom: 40px;
}
    
.home-testimonial-bottom{
    background-color: #f8f8f8;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    height: 130px;
    top: 190px}
    
    .home-testimonial h3{
        color: var(--orange);
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase}
        
    .home-testimonial h2{
        color: white;
        font-size: 28px;
        font-weight: 700}
    
    .testimonial-inner{
            position: relative;
            top: -174px}
            
    .testimonial-pos{
        position: relative;
        top: 24px}
        
    .testimonial-inner .tour-desc{
        border-radius: 5px;
        padding: 40px}
        
    .color-grey-3{
        font-family: "Montserrat", Sans-serif;
        font-size: 14px;
        color: #6c83a2}
    .tour-desc{
        background-color: #DFF6FF !important;
    }
    .testimonial-inner img.tm-people{
        width: 60px;
        height: 60px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover;
        max-width: none}
        
    .link-name{
        font-family: "Montserrat", Sans-serif;
        font-size: 14px;
        color: #6c83a2}
    .link-position{
        font-family: "Montserrat", Sans-serif;
        font-size: 12px;
        color: #6c83a2}

/*LIST VIEWS*/
#cancel-btn{
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

